{% extends "neuralnet/template.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="col-lg-3" style="height: 100%; background-color: white">
    <h1>Toolbar</h1>
    <!-- the following will repeat for each structure in the database associated with the current user -->
    <div class="panel panel-default" style="background-color: silver">
        <div class="panel-heading">Toolbar</div>
        <div class="panel-body">body!</div>
        <div class="panel-body">body!</div>

    </div>
</div>
{% endblock %}